body{
    width: 1100px;
    height: 1100px;
    margin: auto;
}

.barraNavigazione {
  background-color: #333;
  height: 105px;
}

.barraNavigazione a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

#Logo {
    height: 45px;
    width: 128px;
    float: left;
    background: url(media/auto.png) no-repeat left top;
}

#ancoraLogin {
    margin-left: 1030px;
    margin-top: -60px;
}

#Login {
    background: url(media/logoLogin.png) no-repeat left top;
    height: 35px;
    width: 35px;
    clear: left;
    position: absolute;
    right: auto;
    top:2.1%;
}

#servizi {
    clear:left;
}

.footer {
    background-color: #333;
}

/*HOMEPAGE*/

.HomeMain {
clear:left; 
}

#immagineHome {
    width: 1100px;
}

.sectionHome {
    margin-left: 550px;
}

.sectionHomeElem1 {
    float:left;
    width: 530px;
    margin-left: -550px;
    padding: 10px;
}

.sectionHomeElem2 {
    width: 530px;
    padding: 10px;
}

#Mappa{
    width: 525px;
    height: 400px;
    border: 5px solid #333;
}


/*//CHISIAMO*/

#presentazione{
    float:left;
    width: 550px;
}

#ChisiamoList{
      list-style-image: url(media/spuntaverde.jpg); 
}

li#ChisiamoList{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 2px;
}

#ChisiamoImg1{
    height: 367px;
    width: 550px;
    margin-top: 50px;
}

/*//SERVIZI*/

.ServiziMain {
    clear: left;
    height: auto;
}

#navbarservice {
    width: 350px;
    float: left;
}

#immagineservizi {
    margin-left: 40px;
    margin-top: 20px;
    width: 60%; 
    height: 320px;
}

#contentservizi {
    margin-left: 390px;
    width: 640px;
}

/*//FAQ*/

.FaqMain {
    clear: left;
}


.faq {
    margin-left: 1000px;
    clear: left;
}

.faqElem1 {
    float: left;
    width: 980px;
    margin-left: -1000px;
    
    padding: 10px;
}

.faqElem2 {
    width: 80px;
    padding: 10px;
}

.formNuovaFaq{
    border: 3px solid #333;
    padding: 10px;
}