body{
    width: 1100px;
    height: 1100px;
    margin: auto;
    background-image: url(media/background.png);
    background-size: cover;
}

.barraNavigazione {
  background-color: #333;
  height: 105px;
}

.barraNavigazione a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

#Logo {
    height: 45px;
    width: 128px;
    float: left;
    background: url(media/auto.png) no-repeat left top;
}

#ancoraLogin {
    margin-left: 1030px;
    margin-top: -60px;
}

#Login {
    background: url(media/logoLogin.png) no-repeat left top;
    height: 35px;
    width: 35px;
    clear: left;
    position: absolute;
    right: auto;
    top:2.1%;
}


#Logout {
    background: url(media/logoLogout.png) no-repeat left top;
    height: 35px;
    width: 35px;
    clear: left;
    position: absolute;
    right: auto;
    top:2.1%;
}


.footer {
    background-color: #333;
}

#page{
  height: auto;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

/*HOMEPAGE*/

.HomeMain {
clear:left; 
}

#immagineHome {
    width: 1100px;
}

.sectionHome {
    margin-left: 550px;
}

.sectionHomeElem1 {
    float:left;
    width: 530px;
    margin-left: -550px;
    padding: 10px;
}

.sectionHomeElem2 {
    width: 530px;
    padding: 10px;
}

#Mappa{
    width: 525px;
    height: 400px;
    border: 5px solid #333;
}


/*//CHISIAMO*/

#presentazione{
    float:left;
    width: 550px;
}

#ChisiamoList{
      list-style-image: url(media/spuntaverde.jpg); 
}

li#ChisiamoList{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 2px;
}

#ChisiamoImg1{
    height: 367px;
    width: 550px;
    margin-top: 50px;
}

/*//SERVIZI*/

.ServiziMain {
    clear: left;
    height: auto;
}

#navbarservice {
    width: 350px;
    float: left;
}

#immagineservizi {
    margin-left: 40px;
    margin-top: 20px;
    width: 60%; 
    height: 320px;
}

#contentservizi {
    margin-left: 390px;
    width: 640px;
} 

/*catalogo1*/

.barracatalogo{
   clear: both;
   width: 1100px;
   margin-top: 10px;
}

.imagefrm{
    height: 232px;
    width: 360px;
}

.testoauto{
    margin-bottom: 40px;
    margin-left: 15px;
}

.borderprezzo{
text-align: center;
font-weight: bolder;
background: #E0E0E0;
margin-top: 10px;
margin-left: 900px;
margin-bottom: 10px;
border: 2px solid red;
width: 160px;
}

.prod{
    clear: left;
    margin-top: 5px;
}

#pricebtn input{
    width: 132px;
    height: 40px;
}

.buttonuser{
text-align: center;
font-weight: bolder;
background: #E0E0E0;
margin-top: 10px;
margin-left: 900px;
margin-bottom: 10px;
border: 3px solid red;
width: 132px;
}

/*Faq*/

.faq {
    margin-left: 1000px;
    clear: both;
}

.faqElem1 {
    float: left;
    width: 980px;
    margin-left: -1000px;
    
    padding: 10px;
}

.barrafaq{
    margin-left: -1000px;
    clear: both;
    width: 1100px;
}

.faqElem2 {
    width: 80px;
    padding: 10px;
}

/*FORMCATALOGO*/

#search{
/*    margin-top: 10px;*/
}

label.optional{
    color: white;
}

#pricemin{
    margin-right: 10px;
}

#pricemax{
    margin-right: 10px;
}

.filtertable{
    padding-top: 11px;
}
.filtertable label{
    color: black;
}

.filters{
    margin-top: -10px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 5px;
    background-color:#333 ; 
}

.formerror{
    padding-left: 7px;
    color: red;
}

/* AREA USER */

.mainGestioneUtente{
    display: flex;
    justify-content: center;
}
.tabella1{
    margin-top:10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width:700px;
    border-collapse: collapse;
    background: #333;
}

.tabella1 th {
  color: #ffd700;
  border-bottom: 1px solid #ffd700;
  padding: 12px 17px;
}

.tabella1 td {
  color: #CAD4D6;
  border-bottom: 1px solid #ffd700;
  border-right:1px solid #ffd700;
  padding: 7px 17px;
}

.tabella1 tr:last-child td {
  border-bottom: none;
}
.tabella1 td:last-child {
  border-right: none;
}

.tabella2{
    margin-left: 400px;
    margin-top:10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width:700px;
    border-collapse: collapse;
    background: #333;
}

.tabella2 th {
  color: #ffd700;
  border-bottom: 1px solid #ffd700;
  padding: 12px 17px;
}

.tabella2 td {
  color: #CAD4D6;
  border-bottom: 1px solid #ffd700;
  border-right:1px solid #ffd700;
  padding: 7px 17px;
}

.tabella2 tr:last-child td {
  border-bottom: none;
}
.tabella2 td:last-child {
  border-right: none;
}

#caption1{
    font-size: 18px; 
    color:#ffd700; 
    font-style: italic;
    font-family:sans-serif;
}

#caption2{
    font-size: 18px; 
    font-family: sans-serif; 
    font-style: italic; 
    color:#ffd700;
    background-color: #333;
}

#username-label{
    color:black;
}

#role-label{
    color:black;
}

#nome-label{
    color:black;
}

#cognome-label{
    color:black;
}

#residenza-label{
    color:black;
}

#password-label{
    color:black;
}


/*  AREA ADMIN */
.adminsection{
    width: 300px;
    height: auto;
    float: left;
}

.barraNavigazioneAdmin {
    height: 50px;
}

.barraNavigazioneAdmin a {
    padding-top: 10px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    float: left;
    display: block;
    color: #333;
    height: 30px;
    width: 180px;
    text-align: center;
    text-decoration: none;
}

.barraNavigazioneStaff{
    display: flex;
    justify-content: center;
    height: 50px;
}

.barraNavigazioneStaff a {
    padding-top: 10px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    float: left;
    display: block;
    color: #333;
    height: 30px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.headerAdmin{
    text-align: center;
    color: #333;
}

.tableAdmin{
    background-color:#eee859; 
    border-collapse:collapse; 
}

.element textArea{
    width: 400px;
    resize: none;
}

/*CHAT*/

#chatlist table{
    margin-left: 600px;
    width: 500px;
}

input#send{
    margin-top: 30px;

}

#selectuserChat{
    display: flex;
    justify-content: center;
}

td.me{
    text-align: right;
    margin-left: 100px;
    background-color: greenyellow;
}

td.other{
    text-align: left;
    padding-right: 100px;
    background-color: lightskyblue;
}


/*LOGIN*/

.caption{
    cursor: pointer;
    margin-top: -35px;
    margin-left: 145px;
}

.block{
    float: left;
}

.module2{

    margin-left: 600px;
}