/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-apr-2019, 13.37.11
    Author     : Utente
*/

body{
    background-image: url(media/background.png);
    width: 1100px;
    margin: auto;
}


/* barra di navigazione */
.barraNavigazione {
  background-color: #333;
  height: 105px;
}

/* ancore nella barra */
.barraNavigazione a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

#Logo {
    height: 45px; 
}

#ancoraLogin {
    margin-left: 1030px;
    margin-top: -60px;
}

#Login {
    height: 30px;
    clear: left;
    position: absolute;
    right: auto;
    top:3.5%;
}


#servizi {
    clear:left;
}

.main {
    clear: left;
}

#immagineHome {
    width: 1100px;
}

.sectionHome {
    margin-left: 550px;
}

.sectionHomeElem1 {
    float:left;
    width: 530px;
    margin-left: -550px;
    
    padding: 10px;
}

.sectionHomeElem2 {
    width: 530px;
   
    padding: 10px;
}

#Mappa{
    width: 525px;
    height: 400px;
    border: 5px solid #333;
}


.footer {
    background-color: #333;
}
